<% if @content.errors.any? %>
  <p>There were problems saving your content:</p>
  <ul>
    <% @content.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= form_for @content, :class => "form-horizontal", :html => {:role => 'form'}  do |f| %>
<% if params[:action] == 'edit' && @content.content_type == 'Static' %>
  <h3><%= f.label @content.name %></h3>
<% else %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, :class => "form-control", :rows => 10 %>
</div>
  <%= f.submit :class => "btn btn-default" %>
<% end %><br>