<ul class='no-bullet'>
  <!-- Title -->
  <li><h3><%= link_to article.title, article_path(article) %><h3></li>
  <!-- Creation Time -->
  <li><b>Created: </b><%= article.created_at.strftime('%d-%b-%Y %k:%M %P') %></li>
  <!-- Body Text -->
    <!-- if displayed in Index action -->
    <% if params[:action] == 'index' %>
      <li>
        <%= truncate(strip_markdown(article.content), :length => 500, :separator => ' ') {link_to ' show more', article_path(article)} %>
      </li>
    <!-- if displayed in other action (i.e. Show) -->
    <% else %>
      <li>
        <%= markdown_to_html(@article.content) %>
      </li>
      <li class='caption'>
        <%= @article.caption %>
      </li><br>
    <% end %>  
  <!-- Author -->
  <li><b>Author: </b><%= article.admin.full_name %></li>
  <!-- Admin Options -->
  <% if admin_signed_in? %>
    <li>
      <b>Admin: </b>
      <%= link_to 'edit', edit_article_path(article), :class => 'btn btn-primary btn-xs' %>
      <%= link_to 'delete', article_path(article), :method => 'delete', :class => 'btn btn-danger btn-xs', :confirm => 'Are you sure you wish to delete?' %>
    </li>
  <% end %>
  <!-- horizontal line -->
  <hr>
</ul>