<h2>Articles</h2>

<hr>

<% if admin_signed_in? %>
  <%= link_to 'Create Article + ', new_article_path, :class => 'btn btn-success btn-sm' %>
<% end %>

<% @articles.each do |article| %>
<ul class='no-bullet'>
  <!-- Title -->
  <li><h3><%= link_to article.title, article_path(article) %><h3></li>
  <!-- Creation Time -->
  <li><b>Created: </b><%= article.created_at.strftime('%d-%b-%Y %k:%M %P') %></li>
  <!-- Body Text -->
  <li class='content'>
    <%= truncate(strip_markdown(article.content), :length => 500, :separator => ' ') {link_to ' show more', article_path(article)} %>
  </li>
  <!-- Author -->
  <li><b>Author: </b><%= article.admin.full_name %></li>
  <% if admin_signed_in? %>
    <li>
      <b>Admin: </b>
      <%= link_to 'edit', edit_article_path(article), :class => 'btn btn-primary btn-xs' %>
      <%= link_to 'delete', article_path(article), :method => 'delete', :class => 'btn btn-danger btn-xs', :confirm => 'Are you sure?' %>
    </li>
  <% end %>
  <!-- horizontal line -->
  <hr>
</ul>
<% end %>