<h2>View your article</h2>

<ul>
  <li><b>Title: </b><%= @article.title %></li>
  <li><b>Created: </b><%= @article.created_at %></li>
  <li><b>Content: </b><%= @article.content %></li>
  <li><b>Caption: </b><%= @article.caption %></li>
  <li><b>Author: </b><%= @article.admin.full_name %></li>
  <% if admin_signed_in? %>
    <li>
      <b>Admin: </b>
      <%= link_to 'edit', edit_article_path(@article) %> / 
      <%= link_to 'delete', article_path(@article), :method => 'delete' , :confirm => 'Are you sure?' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', articles_path %>