<% if @stockist.errors.any? %>
  <p>There were problems saving your stockist:</p>
  <ul>
    <% @stockist.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= form_for @stockist, :class => "form-horizontal", :html => {:role => 'form'} do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :link %>
  <%= f.text_field :link, :class => "form-control" %>
  Note: must be in the format http://xxx
</div>
<div class="form-group">
  <%= f.label :region %>
  <%= f.text_field :region, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :locations %>
  <%= f.text_field :locations, :class => "form-control" %>
</div>
<%= f.submit :class => "btn btn-default" %>
<% end %><br>