<h2>Site Administration</h2>

<h4>Your Details:</h4>
<ul>
  <li><b>Full Name:</b> <%= current_admin.full_name %></li>
  <li><b>Email:</b> <%= current_admin.email %></li>
</ul>

<h4>Site Content:</h4>

<p>This facilitates changes to the 'Static' content in various areas of the site.</p>

<table>
  <% @contents.each do |content| %>
    <tr>
      <td><%= link_to content.name, content_path(content) %><td>
      <td>&nbsp;&nbsp;&nbsp;<%= link_to 'edit', edit_content_path(content), :class => 'btn btn-primary btn-xs' %><td>
    </tr>
  <% end %>
<table>

<h4>Add Content:</h4>
<%= link_to 'Create Article +', new_article_path, :class => 'btn btn-success btn-sm' %>&nbsp;
<%= link_to 'Create Game +', new_game_path, :class => 'btn btn-success btn-sm' %>&nbsp;
<%= link_to 'Create Stockist +', new_stockist_path, :class => 'btn btn-success btn-sm' %>&nbsp;
<%= link_to 'Create Content +', new_content_path, :class => 'btn btn-success btn-sm' %> 
