<h2>Site Administration</h2>

<h4>Your Details:</h4>
<ul>
  <li>Full Name: <%= current_admin.full_name %></li>
  <li>Email: <%= current_admin.email %></li>
</ul>

<h4>Site Content:</h4>

<p>More to be added here, will allow changing of various page content across the site</p>

<ul>
  <% @contents.each do |content| %>
    <li>
      <%= link_to content.name, content_path(content) %> - 
      <%= link_to 'edit', edit_content_path(content), :class => 'btn btn-primary btn-xs' %>
    </li>
  <% end %>
</ul>

<h4>Add Content:</h4>
<%= link_to 'Create Article +', new_article_path, :class => 'btn btn-success btn-sm' %>
<%= link_to 'Create Game +', new_game_path, :class => 'btn btn-success btn-sm' %>
<%= link_to 'Create Stockist +', new_stockist_path, :class => 'btn btn-success btn-sm' %>
<%= link_to 'Create Content (About Us) +', new_content_path, :class => 'btn btn-success btn-sm' %> 
