<!DOCTYPE html>
<html>
<head>
  <title>Ntmade</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Added for Devise -->
  <% if admin_signed_in? %>
    <span>
        You are logged in as <%= current_admin.email %> - 
    </span>
      <%= link_to 'Logout', destroy_admin_session_path, :method => 'delete' %>
  <% else %>
      <%= link_to 'Login', new_admin_session_path %>
  <% end %>

  <p>
    <%= flash[:notice] %>
  </p>

  <p>
      <%= flash[:error] %>
  </p>

<%= yield %>

</body>
</html>
