<!DOCTYPE html>
<html>
<head>
  <title>93 Made Games</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

  <!-- Navbar start -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to '93 Made Games', home_path, :class => "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- Navbar links start -->
          <li class="<%= active 'home' %>"><%= link_to 'Home', home_path %></li>
          <li class="<%= active 'articles' %>"><%= link_to 'Articles', articles_path %></li>
          <!-- Games Dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All Games', games_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Specific Game...</li>
              <% @games_to_link.each do |gl| %>
                <li><%= link_to gl.name, game_path(gl) %></li>
              <% end %>
            </ul>
          </li>
          <!-- End of Games Dropdown -->
          <li class="<%= active 'stockists' %>"><%= link_to 'Stockists', stockists_path %></li>
          <li class="<%= active 'about' %>"><%= link_to 'About Us', about_path %></li>
          <% if admin_signed_in? %>
            <li class="<%= active 'setup' %>"><%= link_to 'Setup', setup_path %>
          <% end %>
          <!-- Navbar links end -->
        </ul>
        <% if admin_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text" style="color: #ffffff">You are logged in as <%= current_admin.email %></p></li>
            <!-- <li><a style="color: #ffffff">You are logged in as <%= current_admin.email %></a></li> -->
            <li><%= link_to 'Logout', destroy_admin_session_path, :method => 'delete' %></li>
          </ul>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <!-- Navbar end -->

  <!-- Added for Bootstrap -->
  <div class="container">

    <!-- Flash notice/error -->
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>

    <!-- Body -->
    <%= yield %>

  </div>

  <hr>

  <!-- Page Footer -->
  <div>
    <div class="footer"><%= markdown_to_html(@footer) %></div>
    <p class='designer'>Site designed by Simon Taylor - 2013</p>
  </div>

  <!-- </div> -->

</body>
</html>
